body {
    background-color: rgb(34, 139, 101);
    color: white;
    font-family: "Anek Devanagari", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: aqua;
    color: rgb(18, 88, 62);
    font-family: "Anek Devanagari", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
}